<div class="row">
  <div class="col-xs-4 col-md-3" ng-repeat="foto in listaFoto | filter:cerca">
    <div class="nome">{{foto.nome}}</div>
    <a href="#" class="thumbnail">
      <img alt="..." ng-src="{{foto.image}}" class="img">
    </a>
  </div>
</div>
