<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://italianeography.com/wp-content/uploads/2016/05/nuovo-look-icona-instagram.jpg" width="35px">
      </a>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="$parent.cerca">
        </div>                                                         <!-- "$parent" perchè io voglio scrivere nel "body", cioè un elemento che sta fuori dalla "navbar" -->
      </form>
    </div>
  </div>
</nav>
